.AccueilPage{
	text-align: center;
	font-size: 3vw;
}

.backgroundImg{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: black;
	/*transform: translate(-50%, 0%);*/
}

.welcome{
	background-color: #00291b;
	color: white;
	font-size: 1em;
	position: absolute;
	z-index: 1;
	top: 40%;  
    left: 50%; 
    transform: translate(-50%, -50%);

}

.login-button{
	z-index: 2;
	position: absolute;
	right: 10px;
	top: 10px;
	margin-right: 20px;
	font-size: 0.6em;
	color: black;
	background-color: white;
	cursor: pointer;
}

.login{
	position: absolute;
	z-index: 3;
	top: calc(40% + 3em);  
    left: 50%; 
	transform: translate(-50%, -50%);
}

.login-message{
	font-size: 0.5em;
	color: white;
}

.chat-button {
	z-index: 2;
	position: absolute;
	right: 150px;
	top: 10px;
	font-size: 0.6em;
	color: black;
	background-color: white;
}

.join-button{
	width: 13vw;
	height: 3vw;
	font-size: 0.6em;
	color: black;
	background-color: white;
}
