@import '../colors.css';

.AccueilPage{
	text-align: center;
	font-size: 4vh;
}



.welcome{
	color: white;
	font-size: 1em;
	position: absolute;
	z-index: 1;
	top: 40%;  
    left: 50%; 
    transform: translate(-50%, -50%);

}




.login-play-message{
	font-size: 0.6em;
	color: var(--light-grey);
}



.login-play-button{
		font-size: 0.7em;
		position: absolute;
		z-index: 3;
		top: calc(40% + 3em);  
		left: 50%; 
		transform: translate(-50%, -50%);
}

.login-play-button button{
	color: var(--text-1);
}

.nav-barre {
    list-style-type: none;
    margin: 0;
    padding: 0;
	width: 100vw;
	background-color: var(--mid-backgroud);
	height: 6vh;
	text-align: center;
}

.nav-barre .onglet-nav {
	display: inline;
    text-align: center;
    padding: 7vw;
	width: 7vw;
    text-decoration: none;
	
}
.nav-barre .onglet-nav a{
	font-size: 0.7em;
	color: var(--text-1);
	background-clip: content-box, padding-box;
}

.nav-barre a:hover {
	color: var(--background);
}