#mainWindow {
	width: 1800px;
	height: 1000px;
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
	margin-top: 150px;
    display: block;
	border-color: pink;
	border-style: solid;
	border-width: 10px;
	box-sizing: border-box;
}