#mainWindow {
	padding-left: 0;
    padding-right: 0;
    margin-left: 5vw;
    margin-right: 5vw;
	margin-top: 5vh;
    display: block;
	border-color: white;
	border-style: solid;
	border-width: 10px;
	box-sizing: border-box;
	display: inline;
}