.popover-item :hover{
	color: #7270ec;
}

.public-info{
	z-index: 2;
	text-align: left;
    position:absolute ;
	width: 12em;
	height: 7em;
	font-size: 0.7em;
	background-color: #7270ec;

}


.public-info .avatarImg{
	position:absolute;
	border-radius: 50%; 
	height: 5em;
	width: 5em;
	max-height: 50px;
	max-width: 50px;
	object-fit: cover;
	left:0vw;
	bottom: 1.3em;
}

.public-info .stats{
	position: relative;
	float:right;
	right: 3px;
}

.box-tab{
	z-index: 1;
}

.public-info  .username2
{
	position: absolute
}
