.popover-title  .info{
	font-size: 11px;
	color: crimson;
	white-space: nowrap;
	font-style: italic;
	position: relative;
	line-height: 1em;
	top: 5px;
	text-align: left;
}

.popover-title > figure{
	text-align: center;
	width: 100%;
	font-size: smaller;
	text-indent: 0;
	border: thin silver solid;
	padding: 0;
	display: flex;
	border: 0;
} 

.popover-title  .popover-username{
	font-size: 15px;
	position: relative;
	right: 15px;
}

.popover-title .stats .i{
	padding: 10px;
}

.popover-title  .popover-avatar{
	top:30px;
	right: 5px;
}

.popover-title  .status{
	font-size: 10px;
	position: relative;
	right: 10px;
}