@import '../../colors.css';


.account-info ul{
	background-color: var(--mid-backgroud);

}

.account-info button{
	background-color:  var(--button);
	border: 0.5px solid var(--text-1) ;
	
}

.account-info
{
	z-index: 3;
	text-align: left;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 350px;
	line-height: 4vh;
	display: inline-block;
	white-space: nowrap;
	border-radius: 50%;
	color: white; 
}

.account-info .info-type{

	font-size: min(5vh, 20px);
	color:white;
	white-space: nowrap;
	text-align: left;
}

.account-info .info{
	position: relative;
	font-size: min(4vh, 20px);
	color: var(--text-1);
	white-space: nowrap;
	float:right;
}

.username .button-change-username{
	font-size: 13px;
	text-align: center;
	line-height: 0;
	width: 120px;
	height: max(2.5vh, 19px);
	position: relative;
	color: var(--text-1);
	bottom: 0px;
	left: 130px;
	background-color: var(--button);
}

.account-info .avatar {
	position: relative;
	background-color: var(--transparent);
	text-align: center;
	right: 10px;
}

.account-info .avatar .info-type {
	top: 60px;
}
.account-info .avatar .info{
	bottom: 45px;
}

.account-info .avatarImg{
	border-radius: 50%; 
	height: 25vh;
	width: 25vh;
	max-height: 130px;
	max-width: 130px;
	object-fit: cover;
	position: relative;
}

.account-info .button-upload-avatar{
	font-size: 13px;
	text-align: center;
	line-height: 1;
	width: 120px;
	position: relative;
	color: var(--text-1);
}

.account-page .top-line{
	z-index: 2;
	width: 100vw;
	border-top: 2px dashed white;
	position: relative;
	top: 25vh;
	
}

.account-page .bottom-line{
	z-index: 1;
	width: 100vw;
	border-bottom: 2px dashed white;
	position: relative;
	top: 75vh;
}


.avatar .input-file{
	line-height: 100%;
	font-size: 10px;
	position: relative;
	left: 107px;
	top: 3px;
	margin: 0;
	padding: 0;

}
input[type=file]::file-selector-button{
	background: var(--light-grey);
	border: 0.5px solid white ;
	color: white;

}

.avatar .submit-file{
	position: relative;
	font-size: 12px;
	line-height: 100%;
	left: 130px;
	top: 9px;
	background-color: var(--light-grey);
}


.username  .change-username{
	text-align: center;
}
.username .input-text{
	z-index: 4;
	position:relative;
	height: max(2.5vh, 19px);
	width: 120px;
	background-color: var(--light-grey); 
	padding: 0;
	bottom: 0px;
	right: 140px;
	font-size: 1.9vh;
	border: 0.5px solid white ;
	color: white;

}

.two-auth .two-auth-form{
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -140%);
	z-index: 5;
	background-color:var(--small-background);
	text-align: center;
	color:white;
	width: min(45vw, 350px);
	height: 130px;
	border: 2px solid white;
}

.two-auth .two-auth-form input{
	margin-right: 15px;
	margin-bottom: 15px;
}
.two-auth .two-auth-form button{
	color:var(--text-1);
	line-height: 0;
	height: 23px;
}
.two-auth .button-activate-two-auth{
	font-size: 13px;
	color:var(--text-1);
	float:right;
	position: relative;
	bottom: 23px;
	line-height: 0;
	height: max(2.5vh, 19px);
}

.two-auth .input-email{
	background-color: var(--light-grey); 
	color: black;
	line-height: 2.5vh;
	border: 0.5px solid white ;
	color: white; 

}


.email .info{
	font-size: min(4vh, 15px);
	
}
