.paddle-row {
  margin-bottom: 1vh;
}

.paddle {
  color: white;
  text-align: center;
  height: 2.5vh;
}

.paddle-button {
  width: 40%;
  height: 80%;
  border: 1px solid white;
  border-radius: 2px;
  margin-top: 0.2vh;
}

.picker-div {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 170px;
}
