.settings-table {
  width: 25vw;
  font-size: 0.7vw;
}

.settings-title {
  color: white;
  font-weight: bold;
  padding: 3vh 20%;
  font-size: 1vw;
  margin-bottom: 2vh;
}

.settings-raw {
  text-align: center;
  color: whitesmoke;
  margin-bottom: 1vh;
}

.powerup-button {
  width: 2vh;
  height: 2vh;
  border-radius: 100%;
  border: solid 2px black;
}

.true {
  background-color: rgb(0, 255, 0);
}

.false {
  background-color: rgb(255, 0, 0);
}
