@import '../../colors.css';

.preview-box {
  color: white;
  font-size: 16px;
}
.layout {
  background-color: var(--background);
}
.layout-2 {
  flex-direction: row;
  background-color: burlywood;
}

.sider-1 {
  background-color: aqua;
}
.content-1 {
  background-color: brown;
}

.sider-2 {
  background-color: blue;
}
