.prev-canvas-div {
	margin-right: 50vw;
	margin-top: 21vh;
	position: relative;
}

.prev-canvas {
	background-color: red;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

