@import '../../colors.css';

.preview-box {
  color: red;
  font-weight: bold;
  font-size: 1vw;
  padding: 3vh 42%;
}
.layout {
  background-color: var(--background);
}
.layout-2 {
  flex-direction: row;
  padding-top: 10vh;
  background-color: inherit;
}

.sider-1 {
  background-color: inherit;
  margin-top: 11vh;
}
.content-1 {
  background-color: inherit;
}

.sider-2 {
  background-color: inherit;
  margin-top: 11vh;
}
