.chat-header-button {
  margin: 5px;
}

.chat-window-wrapper {
  position: relative;
  flex-grow: 1;
  height: 600px;
  margin: 0px 20px;
  padding: 20px;
  border: 1px solid white;
}

.chat-window-content {
  height: 500px;
  border: 1px solid white;
  overflow: scroll;
}

.chat-window-mymessage-wrapper {
  text-align: right;
  margin-bottom: 5px;
}

.chat-window-othermessage-wrapper {
  margin-bottom: 5px;
}

.chat-window-input {
  position: absolute;
  display: flex;
  bottom: 10px;
  width: 98%;
}

.chat-window-input > input {
  width: 90%;
  height: 30px;
  padding: 0px 10px;
}

.chat-window-send-button {
  margin-left: 5px;
  height: 35px;
}

.chat-window-header {
  font-size: 1.5em;
}
