@import '../../colors.css';

.score-page {
	text-align: center;
	font-size: min(3vw, 15px);
	overflow:auto;
	height: 100%;


}


.tab{
	overflow:auto;
	white-space: nowrap;
	position:relative

}

.tab  .raw{
	list-style-type: none;
	display:inline-table;
	background-color: var(--small-background);
	color: var(--text-1);

}

 .data{
	 color: white;
	width: 100%;
	padding-left:3vw;
	padding-right: 3vw;
	padding-top:1vw;
	padding-bottom: 1vw;
	display:table;
	border: 2px solid var(--text-1);
	background-color: var(--small-background);
 }


.data .score{
	padding: 2vw;
  }

  .data .vl{
	  padding: 0px;
	  margin: 0px;
	  position:relative;
	  height: 7vw;
	  bottom: 0px;
	border-left: 3px solid var(--text-1);
  }



.score-page  .stats{
	color: white;
	display: inline;
}
.score-page  .stats i{
	padding: 10px;
}

.score-page  .title-scores {
	color: white;
}
