.game-list-container {
  /* margin-right: 15%; */
  /* margin-right: 6vw; */
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 20vw;
}

h1 {
  color: white;
  font-weight: bold;
  font-size: 1vw;
  padding: 3vh 25%;
}
.item-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.one-game-line {
  margin-bottom: 1vh;
}

.join-game-button {
  display: inline;
  margin-right: 2vw;
}

.one-game-list {
  display: inline;
  font-weight: bold;
  color: white;
}

.leftPlayer {
  color: rgb(65, 120, 202);
  padding: 3px;
  margin: 2px;
  font-weight: bold;
}

.rightPlayer {
  color: rgb(255, 0, 0);
  padding: 3px;
  margin: 2px;
  font-weight: bold;
}
